body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

.icon {
  position: relative;
  top: -60px;
  border-radius: 100000px;
  width: 30%;
  margin-bottom: -50px;
}